<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>发布会管理系统</title>
</head>
<body role="document">
      <div class="page-header" style="padding-top: 100px;">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form" method="post" action="/login_action/">
                <input name="username" type="text" placeholder="用户名" class="form-control"><br>
                <input name="password" type="password" placeholder="密码" class="form-control"><br>
                {{ error }}<br>
                <button id="btn" type="submit" class="btn btn-success" style="text-align: center">登录</button>
                {% csrf_token %}
                </form>
        </div>
      </div>
</body>
</html>